<!-- 
   <form (ngSubmit)="onSignup()">
    <div>
      <label for="signupEmail">Email</label>
      <input type="email" id="signupEmail" name="signupEmail" required formControlName="signupEmail">
    </div>
    <div>
      <label for="signupUsername">Username</label>
      <input type="text" id="signupUsername" name="signupUsername" required formControlName="signupUsername">
    </div>
    <div>
      <label for="signupPassword">Password</label>
      <input type="password" id="signupPassword" name="signupPassword" required formControlName="signupPassword">
    </div>
    <button type="submit">Sign Up</button>
  </form> -->
